<div class="panel-info bg-black">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 footer-text">  Copyright 2024, 3D Vision Laboratory, Dept. of Electrical and Computer Engineering, Seoul National University. </div>
        <div class="col-md-8 footer-text">
          Contact: Room 916, Building 301, 1 Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea
        </div>
      </div>
  </div>
</div>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/custom_style.js"></script>